* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-alert {
    padding: 10px 20px;
    background-color: lightblue;
    color: darkblue;
    font-size: 20px;
    border: 2px solid darkblue;
    margin-bottom: 20px;
}

.container {
    width: 960px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.container div {
width: calc(960px / 16);
height: calc(960px / 16);
border: 1px solid black;
}